body{
	height: 100%;
	width: 100%;
	margin: 10px;
	padding-left: 0.5%;
	background: #ADADAD;
}

.MainHeader{
	color: white;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	background-image: url("images/HeaderImage.jpg");
}

#top, #bottom, #left, #right {
	background: #83677B;
	position: fixed;

}

#left, #right {
	top: 0; 
	bottom: 0;
	width: 5px;
}
#left { 
	left: 0; 
}
#right { 
	right: 0; 
}
		
#top, #bottom {

	left: 0; right: 0;
	height: 5px;
}

#top { 
	top: 0; 
}

#bottom { 
	bottom: 0; 
}